docs/n8n/wf-docuseal-contracts-import.json
{
  "name": "wf-docuseal-contracts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-docuseal-contracts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 200],
      "id": "webhook-docuseal",
      "name": "Webhook DocuSeal",
      "webhookId": "f59ff140-7248-49e2-a914-8d7dbf073a08"
    },
    {
      "parameters": {
        "jsCode": "// Validar payload do integration-processor\nconst body = $input.first().json.body || $input.first().json;\n\n// Validar webhook secret\nconst expectedSecret = '36ae7877b5deffcb006e94386fa212f4440c8d94fac580f32033c7ca3510cad6';\nconst receivedSecret = $input.first().json.headers?.['x-webhook-secret'] || '';\nif (expectedSecret && receivedSecret !== expectedSecret) {\n  return [{ json: { _valid: false, _error: 'Webhook secret inválido' } }];\n}\n\nif (!body.submissions || !Array.isArray(body.submissions) || body.submissions.length === 0) {\n  return [{ json: { _valid: false, _error: 'submissions array ausente ou vazio' } }];\n}\n\nif (!body.template_id) {\n  return [{ json: { _valid: false, _error: 'template_id ausente' } }];\n}\n\nreturn [{ json: { _valid: true, ...body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 200],
      "id": "validate-batch",
      "name": "Validate Batch"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 200],
      "id": "is-valid",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "jsCode": "// Transforma batch de submissions em itens individuais para o HTTP Request.\n// Cada item vira uma chamada separada ao DocuSeal API.\nconst body = $input.first().json;\nconst submissions = body.submissions;\nconst templateId = body.template_id;\nconst invalids = [];\nconst validItems = [];\n\nfor (const sub of submissions) {\n  if (!sub.email || !sub.name || !sub.role) {\n    invalids.push({ email: sub.email || 'unknown', error: 'Campos obrigatórios ausentes (email, name ou role)' });\n    continue;\n  }\n\n  validItems.push({\n    json: {\n      email: sub.email,\n      name: sub.name,\n      send_email: sub.send_email,\n      _invalids: [],\n      docuseal_payload: {\n        template_id: templateId,\n        send_email: sub.send_email !== false,\n        submitters: [{\n          role: sub.role,\n          email: sub.email,\n          fields: (sub.fields || []).map(f => ({ name: f.name, default_value: f.value }))\n        }]\n      }\n    }\n  });\n}\n\n// Se nenhum item válido, retorna marcador para pular HTTP Request\nif (validItems.length === 0) {\n  return [{\n    json: {\n      _allInvalid: true,\n      _invalids: invalids,\n      email: 'none',\n      docuseal_payload: null\n    }\n  }];\n}\n\n// Anexa lista de inválidos ao primeiro item para o Aggregate Results recuperar\nvalidItems[0].json._invalids = invalids;\n\nreturn validItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 120],
      "id": "split-items",
      "name": "Split Items"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._allInvalid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 120],
      "id": "has-valid",
      "name": "Has Valid Items?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://assinaturas.ellahfilmes.com/api/submissions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Auth-Token", "value": "XKyx7mEGvXKQjFnRQEcfcUPq3Ty3LGwoDrNFj1qksn2" },
            { "name": "User-Agent", "value": "n8n-ellahos" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.docuseal_payload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 40],
      "id": "create-submission",
      "name": "Create DocuSeal Submission",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Agregar resultados das chamadas HTTP ao DocuSeal.\n// Referencia os itens originais do Split Items para recuperar email/name.\nconst httpItems = $input.all();\nconst originalItems = $('Split Items').all();\nconst results = [];\n\n// Itens inválidos (guardados no primeiro item original)\nconst invalids = originalItems[0]?.json?._invalids || [];\nfor (const inv of invalids) {\n  results.push({ email: inv.email, status: 'error', error: inv.error });\n}\n\n// Processar resultados HTTP (1:1 com itens válidos do Split Items)\nfor (let i = 0; i < httpItems.length; i++) {\n  const httpResult = httpItems[i].json;\n  const original = originalItems[i]?.json || {};\n  const email = original.email || 'unknown';\n  const name = original.name || 'unknown';\n\n  // Checar se o HTTP Request falhou (Continue On Fail coloca erro no json)\n  if (httpResult.error || httpResult.code === 'ERR_NON_2XX_STATUS_CODE') {\n    const errMsg = httpResult.error?.message || httpResult.message || httpResult.data || JSON.stringify(httpResult).substring(0, 150);\n    results.push({ email, name, status: 'error', error: String(errMsg) });\n    continue;\n  }\n\n  // Sucesso - extrair submission_id da resposta do DocuSeal\n  const data = httpResult;\n  const subId = Array.isArray(data) ? data[0]?.id : data.id;\n  results.push({ email, name, status: 'success', submission_id: subId });\n}\n\nconst successCount = results.filter(r => r.status === 'success').length;\nconst errorCount = results.filter(r => r.status === 'error').length;\n\nreturn [{\n  json: {\n    success: errorCount === 0,\n    processed: results.length,\n    succeeded: successCount,\n    failed: errorCount,\n    results\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 40],
      "id": "aggregate-results",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "jsCode": "// Todos os itens eram inválidos - montar resposta de erro.\nconst original = $input.first().json;\nconst invalids = original._invalids || [];\nconst results = invalids.map(inv => ({ email: inv.email, status: 'error', error: inv.error }));\n\nreturn [{\n  json: {\n    success: false,\n    processed: results.length,\n    succeeded: 0,\n    failed: results.length,\n    results\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 240],
      "id": "all-invalid-response",
      "name": "All Invalid Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 120],
      "id": "respond-success",
      "name": "Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json._error || 'Validação falhou' }) }}",
        "options": { "responseCode": 400 }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 320],
      "id": "respond-error",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook DocuSeal": {
      "main": [[{ "node": "Validate Batch", "type": "main", "index": 0 }]]
    },
    "Validate Batch": {
      "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Split Items", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Split Items": {
      "main": [[{ "node": "Has Valid Items?", "type": "main", "index": 0 }]]
    },
    "Has Valid Items?": {
      "main": [
        [{ "node": "Create DocuSeal Submission", "type": "main", "index": 0 }],
        [{ "node": "All Invalid Response", "type": "main", "index": 0 }]
      ]
    },
    "Create DocuSeal Submission": {
      "main": [[{ "node": "Aggregate Results", "type": "main", "index": 0 }]]
    },
    "Aggregate Results": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "All Invalid Response": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "ELLAHOS" }, { "name": "Fase9" }],
  "pinData": {}
}
