docs/n8n/wf-nf-processor-import.json
{
  "name": "wf-nf-processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "q": "has:attachment filename:pdf is:unread label:inbox",
          "labelIds": ["INBOX"]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [220, 0],
      "id": "gmail-read",
      "name": "Read Unread Emails with PDF",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail Financeiro OAuth2" }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.id }}?format=full",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "get-full-message",
      "name": "Get Full Message",
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail Financeiro OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair PDFs dos anexos do email (percorre parts aninhados p/ multipart)\nconst items = $input.all();\nconst results = [];\n\nfunction extractParts(parts, depth) {\n  if (!parts || depth > 5) return [];\n  const found = [];\n  for (const part of parts) {\n    if (part.filename && part.filename.toLowerCase().endsWith('.pdf')) {\n      found.push(part);\n    }\n    if (part.parts) {\n      found.push(...extractParts(part.parts, depth + 1));\n    }\n  }\n  return found;\n}\n\nfor (const item of items) {\n  if (item.json.error) {\n    continue;\n  }\n\n  const topParts = item.json.payload?.parts || [];\n  const pdfParts = extractParts(topParts, 0);\n  \n  if (pdfParts.length === 0 && item.json.payload?.body?.attachmentId) {\n    const fn = item.json.payload?.filename || 'attachment.pdf';\n    if (fn.toLowerCase().endsWith('.pdf')) {\n      pdfParts.push({ filename: fn, body: item.json.payload.body, mimeType: 'application/pdf' });\n    }\n  }\n  \n  const headers = item.json.payload?.headers || [];\n  const fromHeader = headers.find(h => h.name.toLowerCase() === 'from')?.value || '';\n  const subjectHeader = headers.find(h => h.name.toLowerCase() === 'subject')?.value || '(sem assunto)';\n  \n  for (const part of pdfParts) {\n    results.push({\n      json: {\n        emailId: item.json.id,\n        threadId: item.json.threadId,\n        senderEmail: fromHeader.match(/<(.+?)>/)?.[1] || fromHeader.replace(/\".*?\"\\s*/, '').trim(),\n        senderName: fromHeader.replace(/<.*>/, '').replace(/\"/g, '').trim(),\n        subject: subjectHeader,\n        receivedAt: item.json.internalDate ? new Date(parseInt(item.json.internalDate)).toISOString() : new Date().toISOString(),\n        fileName: part.filename,\n        attachmentId: part.body?.attachmentId,\n        mimeType: part.mimeType\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true, reason: 'No PDF attachments found' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "extract-pdfs",
      "name": "Extract PDF Attachments"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.emailId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "has-pdfs",
      "name": "Has PDFs?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $json.emailId }}/attachments/{{ $json.attachmentId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -80],
      "id": "download-pdf",
      "name": "Download PDF Attachment",
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail Financeiro OAuth2" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://gmail.googleapis.com/gmail/v1/users/me/messages/{{ $('Extract PDF Attachments').item.json.emailId }}/modify",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"removeLabelIds\": [\"UNREAD\"] }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -80],
      "id": "mark-read",
      "name": "Mark as Read",
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail Financeiro OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calcular hash do PDF para deduplicacao (sem modulo crypto — bloqueado no sandbox n8n)\n// Usa DJB2 com multiplos passes para fingerprint deterministica\nconst items = $input.all();\nconst results = [];\n\nfunction computeHash(buffer) {\n  let h1 = 5381, h2 = 0x1505, h3 = 0xdeadbeef, h4 = 0xcafebabe;\n  for (let i = 0; i < buffer.length; i++) {\n    h1 = ((h1 << 5) + h1 + buffer[i]) >>> 0;\n    h2 = ((h2 << 5) + h2 + buffer[buffer.length - 1 - i]) >>> 0;\n    h3 = (h3 * 31 + buffer[i]) >>> 0;\n    h4 = (h4 * 37 + buffer[i]) >>> 0;\n  }\n  return h1.toString(16).padStart(8, '0') + h2.toString(16).padStart(8, '0') + h3.toString(16).padStart(8, '0') + h4.toString(16).padStart(8, '0');\n}\n\nfor (const item of items) {\n  // Pegar dados do Download PDF (item anterior via Mark as Read passthrough)\n  const downloadData = $('Download PDF Attachment').item.json;\n  const b64url = downloadData.data;\n  if (!b64url) {\n    results.push({ json: { ...item.json, fileHash: 'no-attachment-data', _error: true } });\n    continue;\n  }\n  \n  const b64 = b64url.replace(/-/g, '+').replace(/_/g, '/');\n  const buffer = Buffer.from(b64, 'base64');\n  const hash = computeHash(buffer);\n  \n  const extractData = $('Extract PDF Attachments').item.json;\n  \n  results.push({\n    json: {\n      ...extractData,\n      fileHash: hash,\n      fileSizeBytes: buffer.length\n    },\n    binary: {\n      data: {\n        data: b64,\n        mimeType: 'application/pdf',\n        fileName: extractData.fileName,\n        fileExtension: 'pdf'\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, -80],
      "id": "calculate-hash",
      "name": "Hash + Prepare Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://etvapcxesaxhsvzgaane.supabase.co/rest/v1/rpc/check_nf_duplicate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n  \"p_file_hash\": \"{{ $json.fileHash }}\"\n}",
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -80],
      "id": "check-duplicate",
      "name": "Check Duplicate in DB",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Verificar se o resultado da checagem de duplicata indica arquivo novo\nconst checkResult = $input.first().json;\n\nconst isDuplicate = checkResult === true || checkResult?.is_duplicate === true;\n\nif (isDuplicate) {\n  console.log(`[wf-nf-processor] Duplicata detectada para hash ${$('Hash + Prepare Binary').item.json.fileHash} — pulando upload`);\n  return [{ json: { _skip: true, reason: 'duplicate', fileHash: $('Hash + Prepare Binary').item.json.fileHash }, pairedItem: { item: 0 } }];\n}\n\n// Nao e duplicata — passar dados adiante com pairedItem para manter chain\nconst hashItem = $('Hash + Prepare Binary').item;\nreturn [{\n  json: hashItem.json,\n  binary: hashItem.binary,\n  pairedItem: { item: 0 }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -80],
      "id": "dedup-check",
      "name": "Is New?"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, -80],
      "id": "is-new",
      "name": "Not Duplicate?"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "parents": ["16ETBO-yyqvaAI1wd1YswrCmvXxmEUBOs"],
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2420, -160],
      "id": "upload-drive",
      "name": "Upload to Drive",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleDriveOAuth2Api": { "id": "DRIVE_CREDENTIAL_ID", "name": "Google Drive Service Account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://etvapcxesaxhsvzgaane.supabase.co/functions/v1/nf-processor/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Cron-Secret", "value": "ellahos-cron-adcb6006-c8d3-465a-b58a-28545516443d" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n  \"gmail_message_id\": \"{{ $('Extract PDF Attachments').item.json.emailId }}\",\n  \"sender_email\": \"{{ $('Extract PDF Attachments').item.json.senderEmail }}\",\n  \"sender_name\": \"{{ $('Extract PDF Attachments').item.json.senderName }}\",\n  \"subject\": \"{{ $('Extract PDF Attachments').item.json.subject }}\",\n  \"received_at\": \"{{ $('Extract PDF Attachments').item.json.receivedAt }}\",\n  \"file_name\": \"{{ $('Extract PDF Attachments').item.json.fileName }}\",\n  \"file_hash\": \"{{ $('Hash + Prepare Binary').item.json.fileHash }}\",\n  \"file_size_bytes\": {{ $('Hash + Prepare Binary').item.json.fileSizeBytes }},\n  \"drive_file_id\": \"{{ $('Upload to Drive').item.json.id }}\",\n  \"drive_url\": \"https://drive.google.com/file/d/{{ $('Upload to Drive').item.json.id }}/view\"\n}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, -160],
      "id": "ingest-callback",
      "name": "POST Ingest to ELLAHOS",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Log de erro com contexto — nao bloqueia o workflow\nconst item = $input.first().json;\nconst errorMsg = item.error?.message || item.message || item._error || 'unknown';\nconst emailId = item.emailId || $('Extract PDF Attachments')?.item?.json?.emailId || '';\nconst fileName = item.fileName || $('Extract PDF Attachments')?.item?.json?.fileName || '';\nconsole.error(`[wf-nf-processor] Error processing ${fileName} (email ${emailId}): ${errorMsg}`);\nreturn [{ json: { logged: true, error: errorMsg, emailId, fileName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 120],
      "id": "error-handler",
      "name": "Log Error"
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Read Unread Emails with PDF", "type": "main", "index": 0 }]] },
    "Read Unread Emails with PDF": { "main": [[{ "node": "Get Full Message", "type": "main", "index": 0 }]] },
    "Get Full Message": { "main": [
      [{ "node": "Extract PDF Attachments", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "Extract PDF Attachments": { "main": [[{ "node": "Has PDFs?", "type": "main", "index": 0 }]] },
    "Has PDFs?": { "main": [[{ "node": "Download PDF Attachment", "type": "main", "index": 0 }], []] },
    "Download PDF Attachment": { "main": [
      [{ "node": "Mark as Read", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "Mark as Read": { "main": [
      [{ "node": "Hash + Prepare Binary", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "Hash + Prepare Binary": { "main": [[{ "node": "Check Duplicate in DB", "type": "main", "index": 0 }]] },
    "Check Duplicate in DB": { "main": [
      [{ "node": "Is New?", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "Is New?": { "main": [[{ "node": "Not Duplicate?", "type": "main", "index": 0 }]] },
    "Not Duplicate?": { "main": [
      [{ "node": "Upload to Drive", "type": "main", "index": 0 }],
      []
    ]},
    "Upload to Drive": { "main": [
      [{ "node": "POST Ingest to ELLAHOS", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "POST Ingest to ELLAHOS": { "main": [
      [],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]}
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "ELLAHOS" }, { "name": "Fase9" }],
  "pinData": {}
}
