docs/n8n/wf-nf-processor-import.json
{
  "name": "wf-nf-processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "schedule-trigger",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 10,
        "filters": {
          "q": "has:attachment filename:pdf is:unread label:inbox",
          "labelIds": ["INBOX"]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [220, 0],
      "id": "gmail-read",
      "name": "Read Unread Emails with PDF",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail Financeiro OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrair PDFs dos anexos do email (percorre parts aninhados p/ Outlook)\nconst items = $input.all();\nconst results = [];\n\nfunction extractParts(parts, depth) {\n  if (!parts || depth > 5) return [];\n  const found = [];\n  for (const part of parts) {\n    if (part.filename && part.filename.toLowerCase().endsWith('.pdf')) {\n      found.push(part);\n    }\n    if (part.parts) {\n      found.push(...extractParts(part.parts, depth + 1));\n    }\n  }\n  return found;\n}\n\nfor (const item of items) {\n  const topParts = item.json.payload?.parts || [];\n  const pdfParts = extractParts(topParts, 0);\n  \n  if (pdfParts.length === 0 && item.json.payload?.body?.attachmentId) {\n    const fn = item.json.payload?.filename || 'attachment.pdf';\n    if (fn.toLowerCase().endsWith('.pdf')) {\n      pdfParts.push({ filename: fn, body: item.json.payload.body, mimeType: 'application/pdf' });\n    }\n  }\n  \n  const fromHeader = item.json.payload?.headers?.find(h => h.name.toLowerCase() === 'from')?.value || '';\n  const subjectHeader = item.json.payload?.headers?.find(h => h.name.toLowerCase() === 'subject')?.value || '(sem assunto)';\n  \n  for (const part of pdfParts) {\n    results.push({\n      json: {\n        emailId: item.json.id,\n        threadId: item.json.threadId,\n        senderEmail: fromHeader.match(/<(.+?)>/)?.[1] || fromHeader.replace(/\".*?\"\\s*/, '').trim(),\n        senderName: fromHeader.replace(/<.*>/, '').replace(/\"/g, '').trim(),\n        subject: subjectHeader,\n        receivedAt: item.json.internalDate ? new Date(parseInt(item.json.internalDate)).toISOString() : new Date().toISOString(),\n        fileName: part.filename,\n        attachmentId: part.body?.attachmentId,\n        mimeType: part.mimeType\n      }\n    });\n  }\n}\n\nif (results.length === 0) {\n  return [{ json: { _skip: true, reason: 'No PDF attachments found' } }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "extract-pdfs",
      "name": "Extract PDF Attachments"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "has-pdfs",
      "name": "Has PDFs?"
    },
    {
      "parameters": {
        "resource": "messageAttachment",
        "operation": "get",
        "messageId": "={{ $json.emailId }}",
        "attachmentId": "={{ $json.attachmentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, -80],
      "id": "download-pdf",
      "name": "Download PDF",
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail Financeiro OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calcular SHA-256 hash do PDF para deduplicacao\nconst crypto = require('crypto');\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const binaryData = item.binary?.data || item.binary?.attachment;\n  if (!binaryData) {\n    results.push({ json: { ...item.json, fileHash: 'no-binary-data', _error: true } });\n    continue;\n  }\n  \n  const buffer = Buffer.from(binaryData.data, 'base64');\n  const hash = crypto.createHash('sha256').update(buffer).digest('hex');\n  \n  results.push({\n    json: {\n      ...item.json,\n      fileHash: hash,\n      fileSizeBytes: buffer.length\n    },\n    binary: item.binary\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -80],
      "id": "calculate-hash",
      "name": "Calculate SHA-256 Hash"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "parents": ["16ETBO-yyqvaAI1wd1YswrCmvXxmEUBOs"],
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1320, -80],
      "id": "upload-drive",
      "name": "Upload to Drive",
      "onError": "continueErrorOutput",
      "credentials": {
        "googleDriveOAuth2Api": { "id": "DRIVE_CREDENTIAL_ID", "name": "Google Drive Service Account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://etvapcxesaxhsvzgaane.supabase.co/functions/v1/nf-processor/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Cron-Secret", "value": "ellahos-cron-adcb6006-c8d3-465a-b58a-28545516443d" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tenant_id\": \"11111111-1111-1111-1111-111111111111\",\n  \"gmail_message_id\": \"{{ $('Extract PDF Attachments').item.json.emailId }}\",\n  \"sender_email\": \"{{ $('Extract PDF Attachments').item.json.senderEmail }}\",\n  \"sender_name\": \"{{ $('Extract PDF Attachments').item.json.senderName }}\",\n  \"subject\": \"{{ $('Extract PDF Attachments').item.json.subject }}\",\n  \"received_at\": \"{{ $('Extract PDF Attachments').item.json.receivedAt }}\",\n  \"file_name\": \"{{ $('Extract PDF Attachments').item.json.fileName }}\",\n  \"file_hash\": \"{{ $('Calculate SHA-256 Hash').item.json.fileHash }}\",\n  \"file_size_bytes\": {{ $('Calculate SHA-256 Hash').item.json.fileSizeBytes }},\n  \"drive_file_id\": \"{{ $('Upload to Drive').item.json.id }}\",\n  \"drive_file_url\": \"https://drive.google.com/file/d/{{ $('Upload to Drive').item.json.id }}/view\"\n}",
        "options": { "timeout": 30000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -80],
      "id": "ingest-callback",
      "name": "POST Ingest to ELLAHOS",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "removeLabel",
        "messageId": "={{ $('Extract PDF Attachments').item.json.emailId }}",
        "labelIds": ["UNREAD"],
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1760, -80],
      "id": "mark-read",
      "name": "Mark as Read",
      "onError": "continueErrorOutput",
      "credentials": {
        "gmailOAuth2": { "id": "GMAIL_CREDENTIAL_ID", "name": "Gmail Financeiro OAuth2" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log de erro com contexto — nao bloqueia o workflow\nconst item = $input.first().json;\nconst errorMsg = item.error?.message || item.message || item._error || 'unknown';\nconst emailId = item.emailId || $('Extract PDF Attachments')?.item?.json?.emailId || '';\nconst fileName = item.fileName || $('Extract PDF Attachments')?.item?.json?.fileName || '';\nconsole.error(`[wf-nf-processor] Error processing ${fileName} (email ${emailId}): ${errorMsg}`);\nreturn [{ json: { logged: true, error: errorMsg, emailId, fileName } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 120],
      "id": "error-handler",
      "name": "Log Error"
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Read Unread Emails with PDF", "type": "main", "index": 0 }]] },
    "Read Unread Emails with PDF": { "main": [[{ "node": "Extract PDF Attachments", "type": "main", "index": 0 }]] },
    "Extract PDF Attachments": { "main": [[{ "node": "Has PDFs?", "type": "main", "index": 0 }]] },
    "Has PDFs?": { "main": [[{ "node": "Download PDF", "type": "main", "index": 0 }], []] },
    "Download PDF": { "main": [
      [{ "node": "Calculate SHA-256 Hash", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "Calculate SHA-256 Hash": { "main": [[{ "node": "Upload to Drive", "type": "main", "index": 0 }]] },
    "Upload to Drive": { "main": [
      [{ "node": "POST Ingest to ELLAHOS", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "POST Ingest to ELLAHOS": { "main": [
      [{ "node": "Mark as Read", "type": "main", "index": 0 }],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]},
    "Mark as Read": { "main": [
      [],
      [{ "node": "Log Error", "type": "main", "index": 0 }]
    ]}
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "ELLAHOS" }, { "name": "Fase9" }],
  "pinData": {}
}
